includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    tmpDir: storage/framework/cache/phpstan
